/*groups section start*/

.groups__section {
	height: 100vh;
	width: 25%;
	border-right: 1px solid #000;
	background-color: @main-background-color;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.groups__search-block,
.groups__controls-block {
	max-height: 8vh;
	min-height: 5rem;
	flex-basis: 8%;
	width: 100%;
	box-shadow: 0 0 2px #000;
	background-color: @secondaty-background-color;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.groups__search-block {
	border-bottom: 1px solid #000;
	padding: 0 1rem;

	.groups__search-input {
		.input;
		width: 66%;
		margin-right: 5%;
	}

	.groups__search-button {
		.button(#000,@controls-background);
		width: 24%;
		cursor: pointer;
		padding: 0.7rem 0.5rem;

		.hovered-button(@hovered-controls-background,@hovered-controls-background);
	}
}

.groups__controls-block {
	border-top: 1px solid #000;
	padding: 1rem 0;
}

.groups-container {
	max-height: 84vh;
	width: 100%;
	flex-basis: 84%;
	flex-wrap: wrap;
	overflow-y: scroll;

	&::-webkit-scrollbar {
		width: 0.3rem;
		background-color: #ccc;
	}

	&::-webkit-scrollbar-track {
		width: 0.3rem;
		background-color: #ccc;
	}

	&::-webkit-scrollbar-thumb {
		width: 0.3rem;
		background-color: rgb(136, 136, 136);

		&:hover {
			background-color: #000;
		}
	}
}

.groups__add-button {
	.button(#000,@controls-background);
	display: block;
	width: 80%;
	margin: 0 auto;
	padding: 0.7rem 0.5rem;

	.hovered-button(@hovered-controls-background,@hovered-controls-background);
}

/*groups section end*/

/*group item start*/

.groups__group {
	padding: 1rem;
	width: 100%;
	height: fit-content;
	border-bottom: 1px solid #000;
	display: flex;
	justify-content: space-between;
	cursor: pointer;

	&:hover,
	&:focus {
		background-color: @controls-background;
	}

	span {
		display: inline-block;
		font-size: 2rem;
	}
}

.groups__delete-button {
	.button(@warning-color, inherit);
	width: 10%;
	color: @warning-color;

	.hovered-button(inherit, @warning-color);
}

/*group item end*/

@media screen and (max-width: 886px) {
	/*group search block start*/
	.groups__search-block {
		border-bottom: 1px solid #000;
		padding: 0 1rem;

		.groups__search-input {
			.input;
			width: 60%;
			margin-right: 5%;
		}

		.groups__search-button {
			width: 35%;
		}
	}

	/*group search block end*/

	/*group item start*/
	.groups__delete-button {
		width: 20%;
	}
	/*group item end*/
}
